<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GARRUCHAS ANDAMIOS | GRUPO EM PERÚ</title>
	<atom:link href="https://grupoemperu.com/categoria-producto/garruchas-andamios/feed/" rel="self" type="application/rss+xml" />
	<link>https://grupoemperu.com</link>
	<description>VENTA DE GARRUCHAS</description>
	<lastBuildDate>Wed, 08 Mar 2023 23:30:28 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.1</generator>

<image>
	<url>https://grupoemperu.com/wp-content/uploads/2021/08/cropped-favi3-32x32.png</url>
	<title>GARRUCHAS ANDAMIOS | GRUPO EM PERÚ</title>
	<link>https://grupoemperu.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>HUSILLOS E&#038;M®</title>
		<link>https://grupoemperu.com/producto/husillo-para-andamios/</link>
					<comments>https://grupoemperu.com/producto/husillo-para-andamios/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Fri, 27 Aug 2021 20:34:51 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=635</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_0 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS ANDAMIOS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_0 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="huisllo" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/huisllo-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/huisllo-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_0 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>HUSILLOS E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>HUSILLO</strong> de Metal para Andamios la longitud del palo 600 mm. El diámetro 38 mm, el tamaño de la placa inferior 110X95mm. El espesor de la placa inferior 5 mm</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_0">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_0 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/husillo-para-andamios/" method="post" enctype='multipart/form-data' data-product_id="635" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;8 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;huisllo&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo.jpg&quot;,&quot;alt&quot;:&quot;huisllo&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/huisllo-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:637,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:636,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="8 Pulgadas"  selected='selected'>8 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="8 Pulgadas"
                                 data-attribute_label="8 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            8 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="8 Pulgadas">
                                    <span>
                                        8 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb99b312e">HUSILLOS E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb99b312e"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="635" />
	<input type="hidden" name="product_id" value="635" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_0 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>8 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_0 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-andamios/" rel="tag">GARRUCHAS ANDAMIOS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/husillo-para-andamios/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PIN FRENO ANDAMIOS IPU E&#038;M®</title>
		<link>https://grupoemperu.com/producto/garrucha-giratoria-con-freno-andamios/</link>
					<comments>https://grupoemperu.com/producto/garrucha-giratoria-con-freno-andamios/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Fri, 27 Aug 2021 20:30:20 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=628</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_1 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS ANDAMIOS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_1 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="garrucha-andamio" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/garrucha-andamio-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_1 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>PIN FRENO ANDAMIOS IPU E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE PIN CON FRENO</strong> ensambladas en soporte en acero galvanizado con doble pista de esferas y grasera de lubricación.</h5>
<h5></h5>
<h5><strong>RUEDA:</strong> De poliuretano de alta calidad, dureza 92 Shore A, disponible en color ROJO.<br /><strong>NUCLEO:</strong> de HIERRO FUNDIDO de alta calidad, dureza 92 Shore A, en color ROJO con rodamiento interno.</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_1">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_1 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/husillo-para-andamios/" method="post" enctype='multipart/form-data' data-product_id="628" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;8 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;garrucha-andamio&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio.jpg&quot;,&quot;alt&quot;:&quot;garrucha-andamio&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/garrucha-andamio-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:633,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:632,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="8 Pulgadas"  selected='selected'>8 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="8 Pulgadas"
                                 data-attribute_label="8 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            8 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="8 Pulgadas">
                                    <span>
                                        8 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb99ee47e">PIN FRENO ANDAMIOS IPU E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb99ee47e"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="628" />
	<input type="hidden" name="product_id" value="628" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>8 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_1 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-andamios/" rel="tag">GARRUCHAS ANDAMIOS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-giratoria-con-freno-andamios/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
