<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ESTOCAS | GRUPO EM PERÚ</title>
	<atom:link href="https://grupoemperu.com/categoria-producto/estocas/feed/" rel="self" type="application/rss+xml" />
	<link>https://grupoemperu.com</link>
	<description>VENTA DE GARRUCHAS</description>
	<lastBuildDate>Sat, 18 Mar 2023 16:14:47 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.1</generator>

<image>
	<url>https://grupoemperu.com/wp-content/uploads/2021/08/cropped-favi3-32x32.png</url>
	<title>ESTOCAS | GRUPO EM PERÚ</title>
	<link>https://grupoemperu.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>RUEDA MONTACARGA NYLON E&#038;M®</title>
		<link>https://grupoemperu.com/producto/rueda-montacarga-nylon-2/</link>
					<comments>https://grupoemperu.com/producto/rueda-montacarga-nylon-2/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 00:18:51 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=850</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_0 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  ESTOCAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_0 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="RUEDA-ESTOCA-NY" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-ESTOCA-NY-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_0 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>RUEDA MONTACARGA NYLON E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><span><strong>RUEDA</strong> fabricado 100% en <strong>NYLON (PA) DURO</strong> con doble rodamiento 6204. Disponible en <strong>CREMA NATURAL.</strong></span></h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_0">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_0 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/rueda-montacarga-nylon-2/" method="post" enctype='multipart/form-data' data-product_id="850" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;6.5 PULGADAS&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;alt&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:854,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:851,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;300&quot;,&quot;weight_html&quot;:&quot;300 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;7 PULGADAS&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;alt&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:854,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:852,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;350&quot;,&quot;weight_html&quot;:&quot;350 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;8 PULGADAS&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;alt&quot;:&quot;RUEDA-ESTOCA-NY&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-ESTOCA-NY-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:854,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:853,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="6.5 PULGADAS"  selected='selected'>6.5 PULGADAS</option><option value="7 PULGADAS" >7 PULGADAS</option><option value="8 PULGADAS" >8 PULGADAS</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="6.5 PULGADAS"
                                 data-attribute_label="6.5 PULGADAS">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            6.5 PULGADAS					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="6.5 PULGADAS">
                                    <span>
                                        6.5 PULGADAS                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="7 PULGADAS"
                                 data-attribute_label="7 PULGADAS">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            7 PULGADAS					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="7 PULGADAS">
                                    <span>
                                        7 PULGADAS                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="8 PULGADAS"
                                 data-attribute_label="8 PULGADAS">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            8 PULGADAS					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="8 PULGADAS">
                                    <span>
                                        8 PULGADAS                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb858a637">RUEDA MONTACARGA NYLON E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb858a637"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="850" />
	<input type="hidden" name="product_id" value="850" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_0 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>6.5 PULGADAS, 7 PULGADAS, 8 PULGADAS</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_0 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/estocas/" rel="tag">ESTOCAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/rueda-montacarga-nylon-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>RUEDA MONTACARGA PU E&#038;M®</title>
		<link>https://grupoemperu.com/producto/rueda-montacarga-pu-2/</link>
					<comments>https://grupoemperu.com/producto/rueda-montacarga-pu-2/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 00:18:50 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=846</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_1 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  ESTOCAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_1 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="RUEDA-IPU" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/RUEDA-IPU-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_1 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>RUEDA MONTACARGA PU E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><span><strong>RUEDA</strong> fabricado en <strong>HIERRO FUNDIDO (FF)</strong> vulcanizada en <strong>POLIURETANO (PU) DURO</strong> con doble rodamiento 6204. Disponible en ROJO.</span></h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_1">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_1 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/rueda-montacarga-nylon-2/" method="post" enctype='multipart/form-data' data-product_id="846" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;7 PULGADAS&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;RUEDA-IPU&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU.jpg&quot;,&quot;alt&quot;:&quot;RUEDA-IPU&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:855,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:848,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;350&quot;,&quot;weight_html&quot;:&quot;350 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;8 PULGADAS&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;RUEDA-IPU&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU.jpg&quot;,&quot;alt&quot;:&quot;RUEDA-IPU&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/RUEDA-IPU-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:855,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:849,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="7 PULGADAS"  selected='selected'>7 PULGADAS</option><option value="8 PULGADAS" >8 PULGADAS</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="7 PULGADAS"
                                 data-attribute_label="7 PULGADAS">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            7 PULGADAS					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="7 PULGADAS">
                                    <span>
                                        7 PULGADAS                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="8 PULGADAS"
                                 data-attribute_label="8 PULGADAS">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            8 PULGADAS					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="8 PULGADAS">
                                    <span>
                                        8 PULGADAS                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb85cd3d2">RUEDA MONTACARGA PU E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb85cd3d2"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="846" />
	<input type="hidden" name="product_id" value="846" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>7 PULGADAS, 8 PULGADAS</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_1 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/estocas/" rel="tag">ESTOCAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/rueda-montacarga-pu-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ESTOCA MONTACARGA NYLON E&#038;M®</title>
		<link>https://grupoemperu.com/producto/rueda-montacarga-nylon/</link>
					<comments>https://grupoemperu.com/producto/rueda-montacarga-nylon/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 00:16:19 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=841</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_2 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  ESTOCAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_2 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="ESTOCA-80" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-80-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_2 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>ESTOCA MONTACARGA NYLON E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><span><strong>RODILLO</strong> fabricado 100% en <strong>NYLON (PA) DURO</strong> con doble rodamiento 6204. Disponible en <strong>CREMA NATURAL.</strong></span></h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_2">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_2 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/rueda-montacarga-nylon-2/" method="post" enctype='multipart/form-data' data-product_id="841" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X60&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-80&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-80&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:845,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:842,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;300&quot;,&quot;weight_html&quot;:&quot;300 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X70&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-80&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-80&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:845,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:843,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;350&quot;,&quot;weight_html&quot;:&quot;350 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X100&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-80&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-80&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-80-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:845,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:844,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="80X60"  selected='selected'>80X60</option><option value="80X70" >80X70</option><option value="80X100" >80X100</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="80X60"
                                 data-attribute_label="80X60">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X60					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X60">
                                    <span>
                                        80X60                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="80X70"
                                 data-attribute_label="80X70">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X70					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X70">
                                    <span>
                                        80X70                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="80X100"
                                 data-attribute_label="80X100">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X100					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X100">
                                    <span>
                                        80X100                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb8602b11">ESTOCA MONTACARGA NYLON E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb8602b11"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="841" />
	<input type="hidden" name="product_id" value="841" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_2 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>80X60, 80X70, 80X100</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_2 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/estocas/" rel="tag">ESTOCAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/rueda-montacarga-nylon/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ESTOCA MONTACARGA PU E&#038;M®</title>
		<link>https://grupoemperu.com/producto/rueda-montacarga-pu/</link>
					<comments>https://grupoemperu.com/producto/rueda-montacarga-pu/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 00:05:38 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=828</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_3 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_3 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  ESTOCAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_7">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_3 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="ESTOCA-PU" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/ESTOCA-PU-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_3 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>ESTOCA MONTACARGA PU E&#038;M®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><span><strong>RODILLO</strong> fabricado en <strong>HIERRO FUNDIDO (FF)</strong> vulcanizada en <strong>POLIURETANO (PU)</strong> con doble rodamiento 6204. Disponible en ROJO.</span></h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_3">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_3 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/rueda-montacarga-nylon-2/" method="post" enctype='multipart/form-data' data-product_id="828" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X60&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-PU&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-PU&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:832,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:829,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;300&quot;,&quot;weight_html&quot;:&quot;300 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X70&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-PU&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-PU&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:832,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:830,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;350&quot;,&quot;weight_html&quot;:&quot;350 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;80X100&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESTOCA-PU&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;alt&quot;:&quot;ESTOCA-PU&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESTOCA-PU-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:832,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:831,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;400&quot;,&quot;weight_html&quot;:&quot;400 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="80X60"  selected='selected'>80X60</option><option value="80X70" >80X70</option><option value="80X100" >80X100</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="80X60"
                                 data-attribute_label="80X60">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X60					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X60">
                                    <span>
                                        80X60                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="80X70"
                                 data-attribute_label="80X70">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X70					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X70">
                                    <span>
                                        80X70                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="80X100"
                                 data-attribute_label="80X100">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            80X100					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="80X100">
                                    <span>
                                        80X100                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb862eeb9">ESTOCA MONTACARGA PU E&amp;M® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb862eeb9"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="828" />
	<input type="hidden" name="product_id" value="828" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>80X60, 80X70, 80X100</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_3 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/estocas/" rel="tag">ESTOCAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/rueda-montacarga-pu/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
