<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GARRUCHAS LIVIANAS | GRUPO EM PERÚ</title>
	<atom:link href="https://grupoemperu.com/categoria-producto/garruchas-livianas/feed/" rel="self" type="application/rss+xml" />
	<link>https://grupoemperu.com</link>
	<description>VENTA DE GARRUCHAS</description>
	<lastBuildDate>Sat, 18 Mar 2023 16:14:56 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.1</generator>

<image>
	<url>https://grupoemperu.com/wp-content/uploads/2021/08/cropped-favi3-32x32.png</url>
	<title>GARRUCHAS LIVIANAS | GRUPO EM PERÚ</title>
	<link>https://grupoemperu.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>FRENO LIVIANA PP RHINO®.</title>
		<link>https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/</link>
					<comments>https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 02:49:03 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=1020</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_0 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_0 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="BLANCA-FRENO" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-FRENO-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_0 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>FRENO LIVIANA PP RHINO®.</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE GIRATORIA CON FRENO</strong> Carcasa de chapa de acero galvanizado, cojinete de pivote con doble pista de bolas, atornillado a presion.</h5>
<h5><strong>RUEDA:</strong> de <strong>POLIPROPILENO (PP)</strong>, con bocina de metal en la parte central, contamos con el color BLANCO.</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_0">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_0 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="1020" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;20 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;BLANCA-FRENO&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO.jpg&quot;,&quot;alt&quot;:&quot;BLANCA-FRENO&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-FRENO-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:1029,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:20,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:1021,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;25&quot;,&quot;weight_html&quot;:&quot;25 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas"  selected='selected'>2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9f45ff1">FRENO LIVIANA PP RHINO®. cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9f45ff1"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="20"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="1020" />
	<input type="hidden" name="product_id" value="1020" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_0 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_0 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>GIRATORIA LIVIANA PP RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-giratoria-de-pp-blanco/</link>
					<comments>https://grupoemperu.com/producto/garrucha-giratoria-de-pp-blanco/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 02:49:01 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=1014</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_1 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_1 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="BLANCA-SIN-FRENO" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/BLANCA-SIN-FRENO-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_with_border et_pb_module et_pb_wc_title et_pb_wc_title_1 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>GIRATORIA LIVIANA PP RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5 style="text-align: justify;"><strong>SOPORTE GIRATORIA: </strong>Carcasa de chapa de acero galvanizado, cojinete de pivote con doble pista de bolas, atornillado a presion.</h5>
<h5 style="text-align: justify;"><strong>RUEDA:</strong> de <strong>POLIPROPILENO (PP),</strong> con bocina de metal en la parte central, contamos con el color BLANCO.</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_1">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>5</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_1 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="1014" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;10 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:5,&quot;display_regular_price&quot;:5,&quot;image&quot;:{&quot;title&quot;:&quot;BLANCA-SIN-FRENO&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO.jpg&quot;,&quot;alt&quot;:&quot;BLANCA-SIN-FRENO&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/BLANCA-SIN-FRENO-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:1028,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:10,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:1019,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;25&quot;,&quot;weight_html&quot;:&quot;25 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas"  selected='selected'>2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9f6f05d">GIRATORIA LIVIANA PP RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9f6f05d"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="10"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="1014" />
	<input type="hidden" name="product_id" value="1014" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_1 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-giratoria-de-pp-blanco/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ESPIGA FRENO LIVIANA PP RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-espiga-freno-de-pp-blanco/</link>
					<comments>https://grupoemperu.com/producto/garrucha-espiga-freno-de-pp-blanco/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 02:49:00 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=1012</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_2 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_2 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="PERNO-BLANCA-FRENO" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-FRENO-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_2 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>ESPIGA FRENO LIVIANA PP RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE ESPIGA CON FRENO</strong> Carcasa de chapa de acero galvanizado, cojinete de pivote con doble pista de bolas, atornillado a presión.</h5>
<h5><strong>RUEDA </strong>de<strong> POLIPROPILENO (PP)</strong>, con bocina de metal en la parte central, contamos con el color BLANCO. Disponible espiga de rosca de 3/8&#8243;</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_2">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_2 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="1012" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;1000 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;PERNO-BLANCA-FRENO&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO.jpg&quot;,&quot;alt&quot;:&quot;PERNO-BLANCA-FRENO&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-FRENO-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:1026,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:1000,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:1013,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;25&quot;,&quot;weight_html&quot;:&quot;25 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas"  selected='selected'>2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9f8610d">ESPIGA FRENO LIVIANA PP RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9f8610d"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="1000"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="1012" />
	<input type="hidden" name="product_id" value="1012" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_2 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_2 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-espiga-freno-de-pp-blanco/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ESPIGA LIVIANA PP RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-espiga-de-pp-blanco/</link>
					<comments>https://grupoemperu.com/producto/garrucha-espiga-de-pp-blanco/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 02:48:58 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=1010</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_3 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_3 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_7">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_3 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="PERNO-BLANCA-PLATA" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/PERNO-BLANCA-PLATA-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_3 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>ESPIGA LIVIANA PP RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE ESPIGA:</strong> Carcasa de chapa de acero galvanizado, cojinete de pivote con doble pista de bolas, atornillado a presión.</h5>
<h5><strong>RUEDA </strong>de<strong> POLIPROPILENO (PP)</strong>, con bocina de metal en la parte central, contamos con el color BLANCO. Disponible espiga de rosca de 3/8&#8243;</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_3">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_3 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="1010" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;PERNO-BLANCA-PLATA&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA.jpg&quot;,&quot;alt&quot;:&quot;PERNO-BLANCA-PLATA&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/PERNO-BLANCA-PLATA-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:1027,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:1011,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;25&quot;,&quot;weight_html&quot;:&quot;25 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas"  selected='selected'>2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9fa6a5b">ESPIGA LIVIANA PP RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9fa6a5b"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="1010" />
	<input type="hidden" name="product_id" value="1010" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_3 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-espiga-de-pp-blanco/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>RUEDA DOBLE PIN RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-escritorio-pin-2/</link>
					<comments>https://grupoemperu.com/producto/garrucha-escritorio-pin-2/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Sat, 28 Aug 2021 01:55:40 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=976</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_4 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_4 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_4 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="ESCRITORIO-PIN" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-PIN-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_4 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>RUEDA DOBLE PIN RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE PIN GIRATORIO</strong> rueda doble para muebles fabricado en 100% NYLON (PA) <span>Tipo de conexión: Vástago del anillo de agarre.</span><br />Disponible en Color NEGRO.</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_4">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_4 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="976" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;195 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESCRITORIO-PIN&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN.jpg&quot;,&quot;alt&quot;:&quot;ESCRITORIO-PIN&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-PIN-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:990,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:195,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:982,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;30&quot;,&quot;weight_html&quot;:&quot;30 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas"  selected='selected'>2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9fc0588">RUEDA DOBLE PIN RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9fc0588"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="195"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="976" />
	<input type="hidden" name="product_id" value="976" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_4 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-escritorio-pin-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>ESPIGA DOBLE RUEDA RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-escritorio-pin-copia/</link>
					<comments>https://grupoemperu.com/producto/garrucha-escritorio-pin-copia/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Fri, 27 Aug 2021 13:04:42 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=350</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_5 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_10">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_5 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_11">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_5 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="ESCRITORIO-NT" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/ESCRITORIO-NT-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_5 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>ESPIGA DOBLE RUEDA RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5><strong>SOPORTE ESPIGA:</strong> fabricadas en nylon (PA) 100%, doble rueda en color negro, con banda de protección para pisos. Disponible, espigo de rosca de 3/8&#8243; y 1/2&#8243;, espigo liso.</h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_5">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_5 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="350" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;1.5 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESCRITORIO-NT&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT.jpg&quot;,&quot;alt&quot;:&quot;ESCRITORIO-NT&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:989,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:351,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;25&quot;,&quot;weight_html&quot;:&quot;25 kg&quot;},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock in-stock\&quot;&gt;200 disponibles&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;ESCRITORIO-NT&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT.jpg&quot;,&quot;alt&quot;:&quot;ESCRITORIO-NT&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/ESCRITORIO-NT-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:989,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:200,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:352,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;30&quot;,&quot;weight_html&quot;:&quot;30 kg&quot;}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="2 Pulgadas" >2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfb9fda4d6">ESPIGA DOBLE RUEDA RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfb9fda4d6"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max="200"
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="350" />
	<input type="hidden" name="product_id" value="350" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_5 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_5 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-escritorio-pin-copia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>GIRATORIA LIVIANA JEBE RHINO®</title>
		<link>https://grupoemperu.com/producto/garrucha-escritorio-espiga/</link>
					<comments>https://grupoemperu.com/producto/garrucha-escritorio-espiga/#respond</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Thu, 26 Aug 2021 16:50:19 +0000</pubDate>
				<guid isPermaLink="false">https://grupoemperu.com?post_type=product&#038;p=291</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_6 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_12">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_breadcrumb et_pb_wc_breadcrumb_6 et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<nav class="woocommerce-breadcrumb"><a href="https://grupoemperu.com">Inicio</a>  /  GARRUCHAS LIVIANAS</nav>
				</div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_13">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_wc_images et_pb_wc_images_6 et_pb_bg_layout_">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA-100x100.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image"><a href="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA.jpg"><img width="600" height="638" src="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA-600x638.jpg" class="wp-post-image" alt="" decoding="async" loading="lazy" title="NEGRITA-PLA" data-caption="" data-src="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA.jpg" data-large_image="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA.jpg" data-large_image_width="800" data-large_image_height="850" srcset="https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA-600x638.jpg 600w, https://grupoemperu.com/wp-content/uploads/2021/08/NEGRITA-PLA-480x510.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" /></a></div>	</figure>
</div>

				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_wc_title et_pb_wc_title_6 et_pb_bg_layout_light">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
		<h3>GIRATORIA LIVIANA JEBE RHINO®</h3>
				</div>
			</div><div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5 style="text-align: justify;"><span><strong>SOPORTE GIRATORIA:</strong> fabricada en plancha galvanizada con rueda de CAUCHO, con bocina de metal en la parte central, contamos con el color NEGRO.</span></h5></div>
			</div><div class="et_pb_module et_pb_wc_price et_pb_wc_price_6">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>0</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">S/</span>20</bdi></span></p>

				</div>
			</div><div class="et_pb_module et_pb_wc_add_to_cart et_pb_wc_add_to_cart_6 et_pb_fields_label_position_default et_pb_bg_layout_  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					
<form class="variations_form cart" action="https://grupoemperu.com/producto/garrucha-freno-de-pp-blanco/" method="post" enctype='multipart/form-data' data-product_id="291" data-product_variations="[{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;2 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock out-of-stock\&quot;&gt;Agotado&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:20,&quot;display_regular_price&quot;:20,&quot;image&quot;:{&quot;title&quot;:&quot;NEGRITA-PLA&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;alt&quot;:&quot;NEGRITA-PLA&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:993,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:false,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&lt;span class=\&quot;price\&quot;&gt;&lt;span class=\&quot;woocommerce-Price-amount amount\&quot;&gt;&lt;bdi&gt;&lt;span class=\&quot;woocommerce-Price-currencySymbol\&quot;&gt;S\/&lt;\/span&gt;20&lt;\/bdi&gt;&lt;\/span&gt;&lt;\/span&gt;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:301,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;30&quot;,&quot;weight_html&quot;:&quot;30 kg&quot;,&quot;viwpvs_not_available&quot;:1},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;1.5 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock out-of-stock\&quot;&gt;Agotado&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;NEGRITA-PLA&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;alt&quot;:&quot;NEGRITA-PLA&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:993,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:false,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&lt;span class=\&quot;price\&quot;&gt;&lt;span class=\&quot;woocommerce-Price-amount amount\&quot;&gt;&lt;bdi&gt;&lt;span class=\&quot;woocommerce-Price-currencySymbol\&quot;&gt;S\/&lt;\/span&gt;0&lt;\/bdi&gt;&lt;\/span&gt;&lt;\/span&gt;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:996,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;20&quot;,&quot;weight_html&quot;:&quot;20 kg&quot;,&quot;viwpvs_not_available&quot;:1},{&quot;attributes&quot;:{&quot;attribute_pulgadas&quot;:&quot;1 Pulgadas&quot;},&quot;availability_html&quot;:&quot;&lt;p class=\&quot;stock out-of-stock\&quot;&gt;Agotado&lt;\/p&gt;\n&quot;,&quot;backorders_allowed&quot;:false,&quot;dimensions&quot;:{&quot;length&quot;:&quot;&quot;,&quot;width&quot;:&quot;&quot;,&quot;height&quot;:&quot;&quot;},&quot;dimensions_html&quot;:&quot;N\/D&quot;,&quot;display_price&quot;:0,&quot;display_regular_price&quot;:0,&quot;image&quot;:{&quot;title&quot;:&quot;NEGRITA-PLA&quot;,&quot;caption&quot;:&quot;&quot;,&quot;url&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;alt&quot;:&quot;NEGRITA-PLA&quot;,&quot;src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg&quot;,&quot;srcset&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-600x638.jpg 600w, https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-480x510.jpg 480w&quot;,&quot;sizes&quot;:&quot;(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw&quot;,&quot;full_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA.jpg&quot;,&quot;full_src_w&quot;:800,&quot;full_src_h&quot;:850,&quot;gallery_thumbnail_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-100x100.jpg&quot;,&quot;gallery_thumbnail_src_w&quot;:100,&quot;gallery_thumbnail_src_h&quot;:100,&quot;thumb_src&quot;:&quot;https:\/\/grupoemperu.com\/wp-content\/uploads\/2021\/08\/NEGRITA-PLA-300x300.jpg&quot;,&quot;thumb_src_w&quot;:300,&quot;thumb_src_h&quot;:300,&quot;src_w&quot;:600,&quot;src_h&quot;:638},&quot;image_id&quot;:993,&quot;is_downloadable&quot;:false,&quot;is_in_stock&quot;:false,&quot;is_purchasable&quot;:true,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;is_virtual&quot;:false,&quot;max_qty&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;price_html&quot;:&quot;&lt;span class=\&quot;price\&quot;&gt;&lt;span class=\&quot;woocommerce-Price-amount amount\&quot;&gt;&lt;bdi&gt;&lt;span class=\&quot;woocommerce-Price-currencySymbol\&quot;&gt;S\/&lt;\/span&gt;0&lt;\/bdi&gt;&lt;\/span&gt;&lt;\/span&gt;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;variation_description&quot;:&quot;&quot;,&quot;variation_id&quot;:1001,&quot;variation_is_active&quot;:true,&quot;variation_is_visible&quot;:true,&quot;weight&quot;:&quot;10&quot;,&quot;weight_html&quot;:&quot;10 kg&quot;,&quot;viwpvs_not_available&quot;:1}]">
	
			<table class="variations" cellspacing="0" role="presentation">
			<tbody>
									<tr>
						<th class="label"><label for="pulgadas">PULGADAS</label></th>
						<td class="value">
							<div class="vi-wpvs-variation-wrap-wrap vi-wpvs-hidden" data-wpvs_double_click="" data-wpvs_attr_title="1" data-display_type="vi-wpvs-variation-style vi-wpvs-variation-style-vertical" data-swatch_type="button" data-show_selected_item="" data-hide_outofstock="" data-wpvs_attribute_name="attribute_pulgadas" ><div class="vi-wpvs-select-attribute vi-wpvs-select-attribute-attribute_pulgadas"><select id="pulgadas" class="" name="attribute_pulgadas" data-attribute_name="attribute_pulgadas" data-show_option_none="yes"><option value="">Elige una opción</option><option value="1 Pulgadas" >1 Pulgadas</option><option value="1.5 Pulgadas"  selected='selected'>1.5 Pulgadas</option><option value="2 Pulgadas" >2 Pulgadas</option></select></div>        <div class="vi-wpvs-variation-wrap vi-wpvs-variation-wrap-vi_wpvs_button_design vi-wpvs-variation-wrap-button"
             data-our_of_stock="blur"
             data-attribute="attribute_pulgadas">
			                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="1 Pulgadas"
                                 data-attribute_label="1 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            1 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="1 Pulgadas">
                                    <span>
                                        1 Pulgadas                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-selected"
                                 data-attribute_value="1.5 Pulgadas"
                                 data-attribute_label="1.5 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            1.5 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="1.5 Pulgadas">
                                    <span>
                                        1.5 Pulgadas                                    </span>
                                </div>
                            </div>
							                            <div class="vi-wpvs-option-wrap vi-wpvs-option-wrap-default"
                                 data-attribute_value="2 Pulgadas"
                                 data-attribute_label="2 Pulgadas">
                                <span class="vi-wpvs-option vi-wpvs-option-button">
						            2 Pulgadas					            </span>
                                <div class="vi-wpvs-option-tooltip vi-wpvs-option-tooltip-top"
                                     data-attribute_label="2 Pulgadas">
                                    <span>
                                        2 Pulgadas                                    </span>
                                </div>
                            </div>
							        </div>
		</div><a class="reset_variations" href="#">Limpiar</a>						</td>
					</tr>
							</tbody>
		</table>
		
		<div class="single_variation_wrap">
			<div class="woocommerce-variation single_variation"></div><div class="woocommerce-variation-add-to-cart variations_button">
	
	<div class="quantity">
		<label class="screen-reader-text" for="quantity_641cfba00a130">GIRATORIA LIVIANA JEBE RHINO® cantidad</label>
	<input
		type="number"
				id="quantity_641cfba00a130"
		class="input-text qty text"
		name="quantity"
		value="1"
		title="Cantidad"
		size="4"
		min="1"
		max=""
					step="1"
			placeholder=""
			inputmode="numeric"
			autocomplete="off"
			/>
	</div>

	<button type="submit" class="single_add_to_cart_button button alt wp-element-button">Añadir al carrito</button>

	
	<input type="hidden" name="add-to-cart" value="291" />
	<input type="hidden" name="product_id" value="291" />
	<input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
		</div>
	
	</form>


				</div>
			</div><div class="et_pb_module et_pb_wc_additional_info et_pb_wc_additional_info_6 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					

<table class="woocommerce-product-attributes shop_attributes">
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
			<th class="woocommerce-product-attributes-item__label">Peso</th>
			<td class="woocommerce-product-attributes-item__value">N/D</td>
		</tr>
			<tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pulgadas">
			<th class="woocommerce-product-attributes-item__label">PULGADAS</th>
			<td class="woocommerce-product-attributes-item__value"><p>1 Pulgadas, 1.5 Pulgadas, 2 Pulgadas</p>
</td>
		</tr>
	</table>

				</div>
			</div><div class="et_pb_module et_pb_wc_meta et_pb_wc_meta_6 et_pb_bg_layout_ et_pb_wc_meta_layout_inline">
				
				
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku">N/D</span></span>

	
	<span class="posted_in">Categoría: <a href="https://grupoemperu.com/categoria-producto/garruchas-livianas/" rel="tag">GARRUCHAS LIVIANAS</a></span>
	
	
</div>

				</div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/producto/garrucha-escritorio-espiga/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
