<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GRUPO EM PERÚ</title>
	<atom:link href="https://grupoemperu.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://grupoemperu.com</link>
	<description>VENTA DE GARRUCHAS</description>
	<lastBuildDate>Mon, 23 Aug 2021 22:35:37 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.1.1</generator>

<image>
	<url>https://grupoemperu.com/wp-content/uploads/2021/08/cropped-favi3-32x32.png</url>
	<title>GRUPO EM PERÚ</title>
	<link>https://grupoemperu.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Hello world!</title>
		<link>https://grupoemperu.com/2021/08/23/hello-world/</link>
					<comments>https://grupoemperu.com/2021/08/23/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[hmphj]]></dc:creator>
		<pubDate>Mon, 23 Aug 2021 22:35:37 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://grupoemperu.com?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://grupoemperu.com/2021/08/23/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
